<%= form_tag users_path , :method => 'get' do %>
    <p>
      <h4>Search Users by :</h4>
      <%= text_field_tag :search_name, params[:search_name] ,    placeholder: 'Name' %>
      <%= text_field_tag :search_email, params[:search_email], placeholder: 'Email' %>
      <%= text_field_tag :search_phone, params[:search_phone],   placeholder: 'Phone' %>
      <%= text_field_tag :search_amount, params[:search_amount], placeholder: 'Amount', size: "19" %>
      <%= text_field_tag :search_provider, params[:search_provider], placeholder: 'Provider' %>
      <%= text_field_tag :search_location, params[:search_location], placeholder: 'Location' %>
      <%= submit_tag 'Search', :name => nil %>
    </p>
<% end %>




<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Preferred Amount</th>
      <th>Preferred Provider</th>
      <th>Preferred location</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.prefAmount %> $</td>
        <td><%= user.prefProvider %></td>
        <td><%= user.prefLocation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
